<body>
    <div id="title">
        <p>Welcome To Your Local Automatic Rainbow Analyzing Software!</p>
    </div>
        <p>To get set up, please follow the instruction down below</p>
        <ol>
            <li>Set Up your Raspberry Pi</li>
            <li>Connect both your local machine and pi to the same network</li>
            <li>Get onto your raspberry pi and create a virtual environment</li>
            <dd>This will help protect the OS</dd>
            <li>Once you are in the virtual environment, <a href="https://github.com/EbenKouao/pi-camera-stream-flask">click here</a> and follow the instructions on the github repo</li>
            <dd>Depending on your OS model, the giithub repo might be slightly outdated.</dd>
            <dd>A lot of these dependincies are old. If this causes issues, please contact Bradan and complain. He should refactor the open source code but is lazy</dd>
            <dd>MAKE THIS A WHOLE PAGE</dd>
        </ol>


<a href="http://10.4.119.62:5000/">Livestream</a>

<a href="http://127.0.0.1:5000/run">Take Images</a>

<a href="http://http://10.4.119.62:5000/"></a>
</body>