<html>
    <head>
        <link rel="stylesheet" href="/static/login.css">
        <script>
            async function GetVals() {
                var username = document.getElementById("username").value
                var password = document.getElementById("password").value

                const response  =  await fetch("/authenticate",{
                    method: "POST",
                    headers: {
                            "Content-Type": "application/json"
                        },

                    body: JSON.stringify({username, password})
                })

                const data = await response.json()
                
                if (data.success) {
                    window.location.href = data.redirect;  // manually redirect
                } else {
                    alert(data.message || 'Login failed');
                }
                
            }
        </script>
    </head>
    <body>
        <p>Username:</p>
        <input type="text" id="username">
        <p>Password:</p>
        <input type="text" id="password">
        <button onclick="GetVals()">Submit</button>
    </body>
</html>