<body>
    <script>
        async function install() {
            fetch('/download-raspi-zipfile', { method: 'POST' })
            .then(response => {return response.blob()})
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'raspberry_pi_setup.zip';
                document.body.appendChild(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);})
        }
    </script>


    <div id="title">
        <p>Welcome To Your Local Automatic Rainbow Analyzing Software!</p>
    </div>
        <p>To get set up, please follow the instruction down below</p>
        <ol>
            <li>Set up you Raspberry Pi and download the OS</li>
            <li>Follow SetUp instructions</li>
            <li>Now navigate to this home page on your Raspberry Pi and <a href="#" onclick="install()">click here</a> to download the zip file needed</li>
            <li>Now upzip the file and put it in the folder right underneath the folder with your username</li>
            <li>Open up a terminal and type in "cd 'username'" where you put your Raspberry Pi username in the command</li>
            <li>Next type "dos2unix setup.sh" and click enter</li>
            <li>Lastly, run "./setup.sh"</li>
            




            <li>Connect both your local machine and your Raspberry Pi to the same network</li>
            <li>Get onto your Raspberry Pi and create a virtual environment</li>
            <dd>This will help protect the OS</dd>
            <dd>This will run all the commands nessicay to set up your camera's server</dd>
            <dd>A lot of these dependincies are old. If this causes issues, please contact Bradan and complain. He should refactor the open source code but is lazy</dd>
            <dd>MAKE THIS A WHOLE PAGE</dd>
            <li></li>
        </ol>

</body>