<body>
    <script>
        async function install() {
            fetch('/download-raspi-zipfile', { method: 'POST' })
            .then(response => {return response.blob()})
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'raspberry_pi_setup.zip';
                document.body.appendChild(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);})
        }
    </script>


    <div id="title">
        <p>Welcome To Your Local Automatic Rainbow Analyzing Software!</p>
    </div>
        <p>To get set up, please follow the instruction down below depending on your Raspberry Pi's abilities</p>
        <p>Option 1: You are able to run a browser well on your Raspberry Pi</p>
        <a>You have over 1GB of RAM installed</a>
        <ol>
            <li>Set up you Raspberry Pi and download the OS</li>
            <li>Follow SetUp instructions</li>
            <li>Now navigate to this home page on your Raspberry Pi and <a href="#" onclick="install()">click here</a> to download the zip file needed</li>
            <li>Now upzip the file and put it in the folder right underneath the folder with your username</li>
            <li>Open up a terminal and type in "cd 'username'" where you put your Raspberry Pi username in the command</li>
            <li>Next type "dos2unix setup.sh" and click enter</li>
            <li>Lastly, run "./setup.sh"</li>
            


            <p>Option 2:</p>

            <li>Connect both your local machine and your Raspberry Pi to the same network</li>
            <li> <a href="#" onclick="install()">Click here</a> to download the zip file needed</li>
            <li>Now go to your Windows Command Terminal and input "scp /path/to/your/file.zip pi@<Pi_IP_Address>:/path/to/destination"</li>
        </ol>

</body>